$lightCyan: hsl(193, 38%, 86%);
$neonGreen: hsl(150, 100%, 66%);
$grayishBlue: hsl(216, 19%, 38%);
$darkGrayishBlue: hsl(217, 19%, 24%);
$darkBlue: hsl(218, 23%, 16%);

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	align-items: center;
	background-color: $darkBlue;
	display: flex;
	flex-direction: column;
	font-family: "Manrope", sans-serif;
	height: 100vh;
	justify-content: center;
}

.advice-container {
	background-color: $darkGrayishBlue;
	border-radius: 15px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 30px;
	text-align: center;
	position: relative;
	width: 30%;

	@media screen and (max-width: 1023px) {
		width: 90%;
	}

	.advice-content {
		margin: 30px 0 15px;

		.advice-number {
			color: $neonGreen;
			flex-basis: 100%;
			font-size: 12px;
			letter-spacing: 2px;
			text-transform: uppercase;
		}

		.advice {
			color: $lightCyan;
			display: block;
			flex-basis: 100%;
			font-size: 25px;
			font-weight: 800;
			padding: 15px 25px 25px;
		}
	}

	.patter-divider {
		background: url("../images/pattern-divider-desktop.svg") no-repeat center;
		height: 2vh;
		margin-bottom: 50px;
		width: 90%;

		@media screen and (max-width: 1023px) {
			background: url("../images/pattern-divider-mobile.svg") no-repeat center;
			height: 3vh;
		}
	}

	.advice-btn {
		background-color: $neonGreen;
		border: none;
		border-radius: 50%;
		bottom: -7%;
		cursor: pointer;
		height: 40px;
		left: 50%;
		transform: translateX(-50%);
		transition: 0.2s linear;
		position: absolute;
		width: 40px;

		.btn-icon {
			transform: translateY(10%);
			width: 40%;
		}

		&:hover {
			box-shadow: 0px 0px 24px 5px $neonGreen;
		}
	}
}
